#section6 {
    color: var(--colorW);
    background: var(--colorB);
    padding-top: var(---10vw);
    overflow: hidden;
}



/* contact */
#contact {
    font-weight: 100;
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}
#contact > div:nth-child(1) {
    font-size: var(--font-size120);
    line-height: var(--eng-height);
}

.contact__info {
    margin-top: 1.5vw;
    display: flex;
}
.contact__info > div:nth-child(1) {
    font-size: var(--font-size24);
    line-height: var(--eng-height);
    margin-right: 1vw;
    position: relative;
}
.contact__info > div:nth-child(2) a {
    color: var(--colorW);
    font-size: var(--font-size24);
    line-height: var(--eng-height);
    position: relative;
}
.contact__info > div:nth-child(2) a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background: var(--colorW);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.contact__info > div:nth-child(2) a:hover::before {
    transform: scaleX(1);
}



/* 반응형 */
@media (max-width: 1024px) {
    .contact__info {
        flex-direction: column;
    }
}



@media (max-width: 768px) {
    #contact > div:nth-child(1) {
        font-size: var(--font-size200);
    }
    .contact__info {
        margin-top: 2.5vw;
        display: flex;
    }
    .contact__info > div:nth-child(1) {
        font-size: var(--font-size40);
        margin-bottom: 0.3vw;
    }
    .contact__info > div:nth-child(2) a {
        color: var(--colorW);
        font-size: var(--font-size40);
    }
}



@media (max-width: 480px) {
    .contact__info > div:nth-child(1) {
        margin-bottom: -0.5vw;
    }
}